.header{
    height: 60px;
    background-color: #343a40;
    display: flex;
    align-items: center;
    nav{
        font-size: 1.2rem;
        width: 70%;
        margin: auto;
        color: aliceblue;
    }
}